/* Add Comics */
.add-menu {
  margin-bottom: 0;
  border-bottom: 1px solid $border-color;
  background-color: $brand-red;
  > li {
    text-align: center;
    font-size: 0;
    margin: 0;
    padding: 0;

    a {
      display: block;
      width: 100%;
      color: white;
      font-size: 15px;
      padding: 8px 0;

      @media (min-width: $screen-md) {
        font-size: 12px;
      }

      @media (min-width: $screen-lg) {
        font-size: 15px;
      }
    }
  }
}

// Bootstrap overrides
.nav-tabs {
  > li {
    > a {
      border: 1px solid transparent;
      border-radius: 0;

      &:hover,
      &:focus {
        background-color: $brand-orange;
        border-color: transparent;
      }
    }
    &.active {
      > a, > a:hover, > a:focus {
        background-color: $brand-orange;
        color: white;
        border: 1px solid transparent;
      }
    }
  }
}

.add-block {
  position: relative;
  overflow: hidden;
  min-height: 580px;

  form {
    margin-bottom: 25px;
  }

  .headline {
    margin-top: 15px;
  }
}

.add-block.active {
  display: block;
}

.add-form {
  margin-top: 15px;
}

.add-success {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
  height: 580px;
  transition: left 0.4s ease-out;

  &.success-hide {
    left: -100%;
  }

  .success-message {
    width: 100%;
    padding: 20px 120px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  h3 {
    font-size: 42px;
    margin: 0 0 10px;
    line-height: 0.75;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.issue-image {
  img {
    width: 100%;
    height: auto;
  }

  img + .form-group {
    margin-top: 15px;
  }
}

.issue-details {
  margin-bottom: 20px;
}

.edit-form input[type="text"] {
  width: 70%;
}

.plot {
  position: relative;

  label {
    display: block;
  }
  
  .plot-output {
    margin-right: 20px;
  }

  textarea {
    width: 90%;
    height: 200px;
    border: 1px solid silver;
    line-height: 1.4;
    font-size: 16px;
    padding: 10px 15px;

    &.active {
      display: block;
    }
  }

  small {
    position: absolute;
    right: 20px;
    top: 5px;
  }

  #plotInput {
    display: none;

    &.active {
      display: block;
    }
  }
}

#add-series-search {
  .series-search-result:nth-child(2n+3) {
    clear: both;
    @media (min-width: $screen-md) {
      clear: none;
    }
  }
  .series-search-result:nth-child(4n+5) {
    @media (min-width: $screen-md) {
      clear: both;
    }
    @media (min-width: $screen-lg) {
      clear: none;
    }
  }
  .series-search-result:nth-child(6n+7) {
    @media (min-width: $screen-lg) {
      clear: both;
    }
  }
}

#form-add-series-1 {
  .form-group:last-child {
    margin-top: 42px;
  }
}

.form-radio .series-search-result {
  min-height: 250px;
  label {
    margin-right: 0;
  }

  > a {
    margin-bottom: 3px;
  }
}

// Module Specific Styles
[data-module="add_issue"],
[data-module="add_series"] {
  button.form-submit {
    margin-top: 15px;
    display: block;
  }
}

[data-module="add_range"] {
  .success-message h3 {
    display: inline-block;
    margin-right: 10px;
  }
}

[data-module="add_list"] {
  input[type="number"].form-control {
    width: 100%;
  }
}