@charset "UTF-8"; 
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

/* Global Styles */

body {
	margin: 0;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 400;
	background: url('/assets/backgrounds/rotate.php') no-repeat center center fixed;
	background-size: cover;
}

h1 {
	margin: 5px 0;
	font-weight: 700;
}

h2 {
	margin: 5px 0 10px;
	border-bottom: 2px solid gray;
}

a {
	transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
	color: red;
}

ul.nolist {
	list-style-type: none;
	margin: 0;
	padding: 5px 15px;
}

/* Layout */

#wrapper {
	display: block;
}

main .container {
	background-color: white;
	opacity: 0.9;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

/* Header */
header {
	background-color: white;
	opacity: 0.9;
	border-bottom: 2px solid gray;
	margin-bottom: 25px;
	display: block;
	position: relative;
	z-index: 999;
}

.logo {
	text-align: center;
}

nav.sitenav {
	position: relative;
	text-align: right;
}

nav.sitenav ul {
	padding: 0;
}

nav.sitenav > ul > li {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
}

nav.sitenav > ul > li > a {
	display: block;
	padding: 0 10px;
	line-height: 50px;
}

nav.sitenav ul > li > a:hover,
nav.sitenav ul > li > a:focus {
	color: white;
	background-color: gray;
	text-decoration: none;
}

nav.sitenav ul > li:first-of-type > a {
	margin-left: 0;
}

nav.sitenav ul > li:last-of-type > a {
	margin-right: 0;
}

#button-add-comics {
	position: relative;
}

#button-add-comics.expanded {
	background-color: gray;
	color: yellow;
}

#button-add-comics.expanded + #comics-submenu {
	display: block;
}

#comics-submenu {
	display: none;
	position: absolute;
	padding: 10px;
	background-color: gray;
	transition: opacity 0.2s ease-in-out;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: left;
}

#comics-submenu > li {
	display: block;
}

#comics-submenu a {
	color: white;
	margin: 2px 0;
}

#comics-submenu a:hover,
#comics-submenu a:focus {
	text-decoration: none;
	color: yellow;
}

#comics-submenu.expanded {
	opacity: 1;
	visibility: visible;
}

#comics-submenu.expanded a {
	display: block;
}

/* Common */
.button {
	display: inline-block;
	text-transform: uppercase;
	font-size: 10px;
}

.button:after {
	content: "";
	display: inline-block;
	margin: 0 5px;
}

.button:last-of-type:after {
	margin: 0;
	display: none;
}

/* Home page */
.inventory-table {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.inventory-table li {
	text-align: center;
	min-height: 230px;
	margin-bottom: 20px;
	position: relative;
}

.inventory-table .series-info {
	display: block;
	position: relative;
}

.volume-number {
  width: 45px;
  height: 48px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: 13px;
}

.volume-number .count {
	display: block;
  color: #333;
  text-align: center;
  transform: rotate(45deg);
  position: relative;
  left: -30px;
  top: 6px;
  width: 120px;
  background-color: #BFDC7A;
  color: #6a6340;
  padding: 2px 0;
  font-size: 10px;
}

.inventory-table li > a:hover,
.inventory-table li > a:focus {
	text-decoration: none;
}

.inventory-table li img {
	display: block;
	width: 100%;
	height: 250px;
	transition: box-shadow 0.2s ease-in-out;
	box-shadow: 0px 0px 15px 1px transparent;
}

.inventory-table li > a:hover img,
.inventory-table li > a:focus img {
	box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
	outline: none;
}

.inventory-table .series-title {
	position: absolute;
	bottom: 0;
	background: black;
	opacity: 0.9;
	padding: 5px 10px;
	width: 100%;
	color: white;
}

.inventory-table h3 {
	margin: 0;
	font-size: 14px;
}

.inventory-table small {
	text-transform: uppercase;
	font-size: 10px;
	display: block;
	margin-top: 5px;
}

/* Add Comics */
th.comics-heading-issue {
	width: 100px;
}

.issue-image img {
	width: 100%;
	height: auto;
}

.issue-details {
	margin-bottom: 20px;
}

.headline {
	position: relative;
}

.headline a {
	position: absolute;
	top: 5px;
	right: 15px;
}

.edit-form label {
	width: 20%;
}

.edit-form input[type="text"] {
	width: 70%;
}

.plot {
	position: relative;
}

.plot label {
	display: block;
}

.plot textarea {
	width: 90%;
	height: 200px;
	border: 1px solid silver;
}

.plot small {
	position: absolute;
	right: 20px;
	top: 5px;
}

.form-submit {
	border: 1px solid transparent;
	outline: none;
	background-color: red;
	color: white;
	padding: 5px 15px;
	border-radius: 5px;
	font-size: 16px;
	margin: 10px 0;
	transition: all 0.1s ease-in-out;
	text-transform: uppercase;
}

.form-submit:hover,
.form-submit:focus {
	background-color: gray;
	border: 1px solid silver;
}