/* Add Comics */

.add-container {
  padding-bottom: 0;
}

.add-menu {
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
  border-bottom: 1px solid $border-color;
  background-color: $brand-red;
  > li {
    text-align: center;
    width: 25%;
    font-size: 0;
    margin: 0;
    margin-right: -4px;
    padding: 0;

    a {
      display: block;
      width: 100%;
      color: white;
      font-size: 15px;
      padding: 8px 0;

      &:hover,
      &:focus,
      &.active {
        background-color: $brand-orange;
        text-decoration: none;
      }
    }
  }
}

.add-block {
  position: relative;
  overflow: hidden;
  min-height: 500px;
  display: none;

  > div:not(.add-success) {
    margin-top: 15px;
  }

  form {
    margin-bottom: 25px;
  }
}

.add-block.active {
  display: block;
}

.add-success {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
  height: 500px;
  transition: left 0.4s ease-out;

  &.success-hide {
    left: -100%;
  }

  .success-message {
    width: 100%;
    padding: 20px 120px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  h3 {
    font-size: 42px;
    margin: 0 0 10px;
    line-height: 0.75;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.issue-image {
  img {
    width: 100%;
    height: auto;
  }

  img + .form-group {
    margin-top: 15px;
  }
}

#add-issue button[type="submit"] {
  margin-top: 42px;
}

.issue-details {
  margin-bottom: 20px;
}

.edit-form input[type="text"] {
  width: 70%;
}

.plot {
  position: relative;

  label {
    display: block;
  }
  
  .plot-output {
    margin-right: 20px;
  }

  textarea {
    width: 90%;
    height: 200px;
    border: 1px solid silver;
    line-height: 1.4;
    font-size: 16px;
    padding: 10px 15px;

    &.active {
      display: block;
    }
  }

  small {
    position: absolute;
    right: 20px;
    top: 5px;
  }

  #plotInput {
    display: none;

    &.active {
      display: block;
    }
  }
}

.button-block {
  margin: 25px 0;
}