/* Add Comics */

.add-block {
  position: relative;
  overflow: hidden;
  min-height: 245px;
}

.add-success {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
  height: 245px;
  transition: left 0.4s ease-out;

  &.success-hide {
    left: -100%;
  }

  .success-message {
    width: 100%;
    padding: 20px 120px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  h3 {
    font-size: 42px;
    margin: 0 0 10px;
    line-height: 0.75;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.add-success + .form-series-add {

}

.issue-image img {
  width: 100%;
  height: auto;
}

.issue-details {
  margin-bottom: 20px;
}

.headline {
  position: relative;

  a {
    position: absolute;
    top: 5px;
    right: 15px;
  }
}

.edit-form input[type="text"] {
  width: 70%;
}

.plot {
  position: relative;

  label {
    display: block;
  }

  textarea {
    width: 90%;
    height: 200px;
    border: 1px solid silver;
  }

  small {
    position: absolute;
    right: 20px;
    top: 5px;
  }
}