/* Form Elements */

.form-control {
  border: 4px solid silver;
  font-size: 20px;
  outline: none;
  padding: 0 10px;
  line-height: 48px;
  height: 48px;

  &:focus {
    border-color: gray;
    outline: none;
    color: initial;
  }
}

.form-inline .form-group {
  vertical-align: top;
  margin-right: 10px;
}

label {
  display: block;
}

.error-message {
  color: red;
}

.form-radio {
  label:first-of-type {
    margin-bottom: 15px;
  }

  input[type="radio"] {
    padding: 0;
    display: none;

    &:checked + label:before {
      content: "";
      background-color: gray;
      border-color: gray;
      color: #f3f3f3;
      text-align: center;
    }
  }

  fieldset label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    margin-right: 15px;
    font-size: 13px;

    &:before {
      content: "";
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: -2px;
      background-color: silver;
      border: 4px solid silver;
      border-radius: 25px;
    }
  }
}

.form-submit {
  clear: both;
  display: block;
  border: 1px solid transparent;
  outline: none;
  background-color: red;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
  text-transform: uppercase;
  margin-top: 20px;

  &:hover,
  &:focus {
    background-color: gray;
    border: 1px solid silver;
  }
}

.form-inline .form-submit {
  display: inline-block;
  margin: 25px 0 15px;
}