/* Form Elements */

.form-control {
  border: 4px solid silver;
  font-size: 20px;
  outline: none;
  padding: 0 10px;
  height: 48px;

  &:focus {
    border-color: gray;
    outline: none;
    color: initial;
  }
}

input[type="number"].form-control {
  width: 80px;
}

.form-inline .form-group {
  vertical-align: top;
  margin-right: 10px;
}

label {
  display: block;
}

.error-message {
  color: red;
}

.form-radio {
  label:first-of-type {
    margin-bottom: 15px;
  }

  input[type="radio"] {
    padding: 0;
    display: none;

    &:checked + label:before {
      content: "";
      background-color: $brand-red;
      border-color: $brand-red;
      color: #f3f3f3;
      text-align: center;
    }
  }

  fieldset label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    margin-right: 15px;
    font-size: 12px;
    min-height: 30px;

    &:before {
      content: "";
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      top: -2px;
      background-color: silver;
      border: 4px solid silver;
      border-radius: 25px;
    }
  }
}

.btn {
  text-transform: uppercase;
}

.form-submit {
  transition: background-color 0.1s ease-in-out;
  vertical-align: top;

  span.icon-loading {
    display: none;
    width: 92px;
  }

  &.loading {
    background-color: $brand-orange;
    span.icon-loading {
      display: block;
    }
    span.text-submit {
      display: none;
    }
  }
}

.issue-search-result {
  margin-bottom: 10px;

  label {
    margin-bottom: 0 !important;
  }
}

.form-login {
  .form-submit {
    margin-top: 43px;
  }
}