/* Global Styles */

body {
  margin: 0;
  background: url('/assets/backgrounds/rotate.php') no-repeat center center fixed;
  background-size: cover;
}

h1, h2, h3, h4 {
   letter-spacing: 1px
}

h1 {
  margin: 5px 0;
  font-size: 20px;
  
  @media (min-width: $screen-md) {
    font-size: 24px;
  }

  @media (min-width: $screen-md) {
    font-size: $font-size-h1;
  }
}

h4 {
  margin-top: 0;
}

a, button, .btn-link {
  transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

ul.nolist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;

  &:after {
    content: "";
    display: inline-block;
    margin: 0 5px;
  }

  &:last-of-type:after {
    margin: 0;
    display: none;
  }
}

/* Notifications */
.notifications {
  transition: height 0.2s ease-in-out;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  border-radius: 0;
}

.alert-dismissible .close {
  right: 15px !important;
}

.notification-text, .notifications .close span {
  line-height: 30px;
  margin: 0;
}

.notification-text {
  font-size: 14px
}

/* Layout */
#wrapper {
  display: block;
  background-color: white;
  opacity: 0.95;
  min-height: 100vh;
  position: relative;
}

main {
  padding-top: 25px;
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.dev-messages {
  position: relative;
  background-color: white;
  opacity: 0.95;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border: 2px solid $border-color;
}

.headline {
  position: relative;
  border-bottom: 2px solid $divider-color;

  h2 {
    margin: 0;
  }
}

.form-group {
  margin: 15px 0;
}

.sidebar {
  background: linear-gradient($brand-orange, white);
  margin-right: 0;
  padding-bottom: 55px;

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 14px;
  }

  *[class*="credit-"] {
    span {
      display: inline;
      margin-bottom: 3px;

      &:after {
        content: ", ";
        display: inline;
      }

      &:last-of-type {
        &:after {
          content: "";
          display: inline;
        }
      }
    }
  }
}

footer.main-footer {
  position: absolute;
  bottom: 0;
  background-color: $brand-red;
  color: white;
  padding-top: 7px;
  font-size: 12px;
}