/* Grid display styles */
ul.inventory-table {
  margin: 0 -15px;
}

.inventory-table {
  h3 {
    margin: 0;
    font-size: 14px;
  }
  
  small {
    text-transform: uppercase;
    font-size: 10px;
    display: block;
    margin-top: 5px;
  }

  li {
    text-align: center;
    margin-bottom: 20px;
    position: relative;

    &:nth-child(2n+1) {
      clear: both;
    }
    
    @media (min-width: $screen-sm) {
      &:nth-child(2n+1) {
        clear: none;
      }

      &:nth-child(3n+1) {
        clear: both;
      }
    }

    @media (min-width: $screen-md) {
      &:nth-child(2n+1) {
        clear: none;
      }

      &:nth-child(3n+1) {
        clear: none;
      }

      &:nth-child(4n+1) {
        clear: both;
      }
    }
    
    @media (min-width: $screen-lg) {
      &:nth-child(2n+1) {
        clear: none;
      }
      
      &:nth-child(3n+1) {
        clear: none;
      }

      &:nth-child(4n+1) {
        clear: none;
      }

      &:nth-child(6n+1) {
        clear: both;
      }
    }
    
    > a:first-of-type {
      transition: box-shadow 0.2s ease-in-out;
      box-shadow: 0px 0px 15px 1px transparent;
      color: white;

      &:hover, &:focus {
        text-decoration: none;
        box-shadow: 0px 0px 15px 1px gray;
      }
    }
  }

  .comic-image {
    width: 100%;
    display: block;
    overflow: hidden;
    height: 172px;

    @media (min-width: $screen-sm) {
      height: 189px;
    }

    @media (min-width: $screen-md) {
      height: 242px;
    }

    @media (min-width: $screen-lg) {
      height: 205px;
    }
  }

  .series-title {
    position: absolute;
    bottom: 0;
    background: black;
    opacity: 0.9;
    padding: 5px 10px;
    width: 100%;

    a {
      color: white;
    }
  }

  .series-info {
    display: block;
    position: relative;
  }
}

.volume-number {
  width: 45px;
  height: 48px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: 13px;

  .count {
    display: block;
    color: white;
    text-align: center;
    transform: rotate(45deg);
    position: relative;
    left: -30px;
    top: 6px;
    width: 120px;
    background-color: $brand-red;
    padding: 2px 0;
    font-size: 10px;
    font-weight: bold;
  }
}

.issue-meta {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  text-align: left;
  padding-top: 5px;
}

.release-date {
  text-align: right;
}