/* Header */
.logo {
  background-color: $brand-red;
  padding: 15px;

  a {
    color: white;
  }
}

.main-sidebar {
  .menu-break {
    border-top: 1px solid $divider-color;
    margin-top: 15px;
    padding-top: 15px;
  }
  
  .navbar-default {
    border-radius: 0;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;

    li {
      width: 100%;
      > a i.fa {
        margin-right: 3px;
      }
    }

    .btn-link {
      text-transform: none;
      > .fa {
        margin-right: 4px;
      }
    }
  }
  .navbar .nolist {
    margin-bottom: 5px;
  }

  .navbar-nav > li > a {
    &:hover, &:focus {
      background-color: #e7e7e7;
    }
  }
}