/* Issues List */
.series-meta {
  font-size: 12px;
  font-weight: bold;

  @media (min-width: $screen-lg) {
    text-align: right;

  }

  ul > li {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 10px;

    &:first-of-type {
      margin-left: 0;
    }
    
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.list-row, .list-heading {
  display: block;
  margin: 5px 0;
}

.list-row a > *,
.list-heading > * {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.list-heading {
  font-weight: bold;
  margin-top: 20px;
}

.issue-cover {
  width: 5%;
  min-width: 47px;
}

.issue-cover img {
  width: 100%;
  height: auto;
}

.list-heading .issue-number,
.list-row a .issue-number {
  min-width: 25px;
  text-align: center;
}

.list-row a .issue-number {
  margin-right: 15px;
}

/* Logos */

*[class*="logo-"] {
  &:before {
    display: block;
    background-repeat: no-repeat;
    background-position: center left;
    margin-right: 10px;
  }
  &.sm-logo:before {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    width: 13px;
    height: 18px;
   }
}

.logo-marvel {
  font-size: 0;
  &:before {
    content: "";
    display: block;
    background-image: url('../assets/logos/marvel_comics.svg');
    width: 100px;
    height: 46px;
  }
  &.sm-logo:before {
    width: 40px;
    height: 18px;
  }
}

.logo-dc {
  &:before {
    content: "";
    background-image: url('../assets/logos/dc_comics.svg');
    width: 100px;
    height: 100px;
  }
  &.sm-logo:before {
    content: "";
    width: 18px;
    height: 18px;
  }
}

.logo-imagecomics {
  &:before {
    content: "";
    background-image: url('../assets/logos/image_comics.svg');
    background-size: 36px 80px;
    width: 36px;
    height: 80px;
  }
  &.sm-logo:before {
    background-size: 13px 18px;
  }
}

.logo-darkhorse {
  &:before {
    content: "";
    background-image: url('../assets/logos/dark_horse_comics.svg');
    width: 66px;
    height: 110px;
  }
}

.logo-valiant {
  &:before {
    content: "";
    background-image: url('../assets/logos/valiant_comics.png');
    background-size: 66px 110px;
    width: 66px;
    height: 110px;
  }
  &.sm-logo:before {
    background-size: 13px 18px;
  }
}

.logo-archie {
  &:before {
    content: "";
    background-image: url('../assets/logos/archie_comics.png');
    background-size: 110px 110px;
    width: 110px;
    height: 110px;
  }
  &.sm-logo:before {
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
  }
}