/* Issues List */
.series-meta {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;

  @media (min-width: $screen-md) {
    width: 350px;
    position: absolute;
    right: 15px;
    top: 13px;
    text-align: right;
  }

  ul > li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;

    @media (min-width: $screen-md) {
      margin: 0 20px;
    }

    &:first-of-type {
      margin-left: 0
    }
    
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.list-row, .list-heading {
  display: block;
  margin: 5px 0;
}

.list-row a > *,
.list-heading > * {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.list-heading {
  font-weight: bold;
  margin-top: 20px;
}

.issue-cover {
  width: 5%;
  min-width: 47px;
}

.issue-cover img {
  width: 100%;
  height: auto;
}

.list-heading .issue-number,
.list-row a .issue-number {
  min-width: 25px;
  text-align: center;
}

.list-row a .issue-number {
  margin-right: 15px;
}

.issue-story {
  h4 {
    margin-top: 0
  }
}

/* Logos */

*[class*="logo-"] {
  
  background-repeat: no-repeat;
  background-position: center left;

   &:before {
    background-repeat: no-repeat;
    background-position: center left;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    width: 13px;
    height: 18px;
   }
}

.logo-marvel {
  font-size: 0;
  width: 40px;
  height: 18px;
  margin: 0 auto;
  background-image: url('../assets/logos/marvel_comics.svg');
}

.logo-dc {
  &:before {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url('../assets/logos/dc_comics.svg');
    background-size: 18px 18px;
  }
}

.logo-imagecomics {
  &:before {
    content: "";
    background-image: url('../assets/logos/image_comics.svg');
    background-size: 13px 18px;
  }
}

.logo-darkhorse {
  &:before {
    content: "";
    background-image: url('../assets/logos/dark_horse_comics.svg');
    background-size: 13px 18px;
  }
}

.logo-valiant {
  &:before {
    content: "";
    background-image: url('../assets/logos/valiant_comics.png');
    background-size: 13px 18px;
  }
}