/* Logos */

*[class*="logo-"] {
  &:before {
    display: block;
    background-repeat: no-repeat;
    background-position: center left;
    margin-right: 10px;
  }
  &.sm-logo:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 13px;
    height: 18px;
   }
}

.logo-marvel {
  font-size: 0;
  &:before {
    content: "";
    display: block;
    background-image: url('../assets/logos/marvel_comics.svg');
    width: 100px;
    height: 46px;

    @media(min-width: $screen-md) {
      width: 60px;
      height: 27px;
      margin-bottom: 15px;
    }

    @media(min-width: $screen-lg) {
      width: 100px;
      height: 46px;
    }
  }
  &.sm-logo:before {
    width: 40px;
    height: 18px;
  }
}

.logo-dc {
  &:before {
    content: "";
    background-image: url('../assets/logos/dc_comics.svg');
    width: 100px;
    height: 100px;

    @media(min-width: $screen-md) {
      width: 60px;
      height: 60px;
    }

    @media(min-width: $screen-lg) {
      width: 100px;
      height: 100px;
    }
  }
  &.sm-logo:before {
    content: "";
    width: 18px;
    height: 18px;
  }
}

.logo-imagecomics {
  &:before {
    content: "";
    background-image: url('../assets/logos/image_comics.svg');
    background-size: auto 80px;
    width: 36px;
    height: 80px;

    @media(min-width: $screen-md) {
      background-size: auto 60px;
      width: 26px;
      height: 60px;
    }

    @media(min-width: $screen-lg) {
      background-size: auto 80px;
      width: 36px;
      height: 80px;
    }
  }
  &.sm-logo:before {
    background-size: 13px 18px;
  }
}

.logo-darkhorse {
  &:before {
    content: "";
    background-color: white;
    background-image: url('../assets/logos/dark_horse_comics.svg');
    width: 66px;
    height: 110px;

    @media(min-width: $screen-md) {
      width: 41px;
      height: 60px;
    }

    @media(min-width: $screen-lg) {
      width: 66px;
      height: 110px;
    }
  }
}

.logo-valiant {
  &:before {
    content: "";
    background-image: url('../assets/logos/valiant_comics.png');
    background-size: auto 110px;
    width: 66px;
    height: 110px;

    @media(min-width: $screen-md) {
      background-size: auto 60px;
      width: 40px;
      height: 60px;
    }

    @media(min-width: $screen-lg) {
      background-size: auto 110px;
      width: 100px;
      height: 100px;
    }
  }
  &.sm-logo:before {
    background-size: 13px 18px;
  }
}

.logo-archiecomics {
  &:before {
    content: "";
    background-image: url('../assets/logos/archie_comics.png');
    background-size: 110px 110px;
    width: 110px;
    height: 110px;

    @media(min-width: $screen-md) {
      width: 60px;
      height: 60px;
    }

    @media(min-width: $screen-lg) {
      width: 110px;
      height: 110px;
    }
  }
  &.sm-logo:before {
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
  }
}

.logo-maximumpress {
  &:before {
    content: "";
    background-image: url('../assets/logos/maximum_press_comics.png');
    background-size: 102px 53px;
    width: 102px;
    height: 53px;

    @media(min-width: $screen-md) {
      width: 60px;
      height: 31px;
    }

    @media(min-width: $screen-lg) {
      width: 102px;
      height: 53px;
    }
  }
  &.sm-logo:before {
    background-size: 18px 9px;
    width: 18px;
    height: 9px;
  }
}