/* Header */
.main-sidebar {
  .menu-break {
    border-top: 1px solid $divider-color;
    margin-top: 15px;
    padding-top: 15px;
  }
  
  .navbar-header {
    background-color: $brand-red;

    @media (min-width: $screen-md) {
      width: 100%
    }
  }
  
  .navbar-brand.logo {
    color: white;
    height: 132px;
    padding: 15px;
    width: 80%;

    @media (min-width: $screen-sm) {
      height: auto;
    }

    @media (min-width: $screen-md) {
      width: 100%;
      text-align: center;
    }
    
    > * {
      display: inline-block;
    }

    > img {
      width: auto;
      height: 80%;
      vertical-align: top;

      @media (min-width: $screen-sm) {
        width: 30%;
        height: auto;
      }

      @media (min-width: $screen-md) {
        width: 100%;
        height: auto;
      }
    }

    &:hover,
    &:focus {
      color: white;
    }
  }
  
  .navbar-toggle {
    height: 34px;
    width: 34px;
    padding: 0;
    overflow: hidden;

    .icon-bar {
      position: absolute;
      left: 5px;
      transition: opacity 0s 0.3s ease-in-out;
      margin-top: 0;

      &:nth-child(2),
      &:nth-child(4) {
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0s;
      }
      
      &:nth-child(2) {
        transition-property: top, transform;
        top: 8px;
        opacity: 1;
      }

      &:nth-child(3) {
        top: 15px;
      }
      &:nth-child(4) {
        transition-property: bottom, transform;
        bottom: 8px;
      }
    }

    &:not(.collapsed) {
      .icon-bar:nth-child(2) {
        top: 15px;
        transform: rotate(45deg);
      }
      
      .icon-bar:nth-child(2),
      .icon-bar:nth-child(4) {
        transition-delay: 0s, 0.3s;
      }    

      .icon-bar:nth-child(3) {
        opacity: 0;
      }
  
      .icon-bar:nth-child(4) {
        transform: rotate(-45deg);
        bottom: 15px;
      }
    }
  }

  .navbar-default {
    border-radius: 0;
    border: none;
    margin-bottom: 0;

    @media (min-width: $screen-md) {
      border-right: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }

    .navbar-toggle {
      background-color: transparent;
      .icon-bar {
        background-color: white;
      }
    }
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;

    li {
      width: 100%;
      > a i.fa {
        margin-right: 3px;
      }
    }

    .btn-link {
      text-transform: none;
      > .fa {
        margin-right: 4px;
      }
    }
  }

  .navbar .nolist {
    margin-bottom: 5px;
  }

  .navbar-nav > li > a {
    cursor: pointer;
    &:hover, &:focus {
      background-color: #e7e7e7;
    }

    @media (min-width: $screen-md) {
      padding-left: 5px;
      padding-right: 5px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}