[data-module="edit_profile_modal"] {
  #profile_input_facebook,
  #profile_input_twitter,
  #profile_input_instagram {
    font-size: 12px;
  }

  .input-group-addon {
    background-color: silver;
    font-size: 18px;
  }
  
  .modal-body > row > .form-group:last-of-type {
    margin-bottom: 0;
  }

  .modal-footer {
    text-align: center;

    @media (min-width: $screen-md) {
      text-align: right;
    }
  }
}