//Custom Variables
$brand-red: #ff0300;
$brand-orange: #ffaa00;
$brand-yellow: #ffff00;

$font-bold-weight: 700;
$body-font-weight: 400;

// Bootstrap Overrides
$body-color: white;
$text-color: #363636;

$link-color: $brand-red;
$link-hover-color: $brand-orange;

$font-family-sans-serif: 'Roboto', Arial, Helvetica, sans-serif;
$font-family-serif: Times, 'Times New Roman', serif;
$font-size-base: 15px;

$font-size-h1: 17px;
$font-size-h2: 30px;
$font-size-h3: 13px;
$font-size-h4: 28px;
$font-size-h5: 18px;

$line-height-base: 1.5;
$headings-font-family: 'Bangers', Arial, Helvetica, sans-serif;
$headings-font-weight: normal;

$border-color: #e7e7e7;
$divider-color: #e7e7e7;

$imageUrl: 'images';

$screen-xs: 320px;
$screen-sm: 410px;
$screen-md: 641px;
$screen-lg: 900px;

$container-xs: 300px;
$container-sm: 460px;
$container-md: 748px;
$container-lg: 1000px;

$grid-float-breakpoint: $screen-md