.profile-header {
  position: relative;
  margin-bottom: 15px;
}

.profile-background-container {
  height: 155px;
  overflow: hidden;
  position: relative;

  @media (min-width: $screen-md) {
    height: 242px;
  }

  @media (min-width: $screen-lg) {
    height: 300px;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    content: '';
    display: block;
    background-image: linear-gradient(black, transparent);
    opacity: 0.9;
  }
}

.profile-background {
  position: absolute;
  top: -43%;
  width: 100%;
  opacity: 0.9;

  @media (min-width: $screen-md) {
    top: 0;
  }

  @media (min-width: $screen-lg) {
    top: -10%;
  }

  .profile-bg-image {
    padding: 0;
    height: 85px;
    overflow: hidden;
    position: relative;

    @media (min-width: $screen-md) {
      height: 80px;
    }

    @media (min-width: $screen-lg) {
      height: 110px;
    }

    > img {
      @media (min-width: $screen-md) {
        min-height: 90px;
      }

      @media (min-width: $screen-lg) {
        min-height: 110px;
      }
    }
  }
}

.profile-button-block {
  position: absolute;
  top: 5px;
  right: 5px;

  > * {
    display: inline-block;
  }

  > button {
    padding: 0 5px;
    font-size: 24px;
    color: white;
    text-shadow: 0 0 7px black;
  }
}