[data-module="user-meta"] {
  font-size: 10px;
  background-color: white;
  position: absolute;
  bottom: 0;
  opacity: 0.95;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

  > .row {
      margin-right: 0;
    }

  @media (min-width: $screen-md) {
    font-size: 12px;
  }
  
  @media (min-width: $screen-lg) {
    max-height: 138px;
  }

  h2 {
    font-size: 16px;
    margin: 0;

    @media (min-width: $screen-md) {
      font-size: 32px;
      margin-bottom: -4px;
    }
  }

  .user-avatar {
    padding-right: 0;
    margin-top: -12px;
    margin-bottom: 5px;

    > img {
      border: 2px solid $brand-orange;
      box-shadow: 0 0 5px #333;
      margin-left: 5px;
      width: 100%;
      @media (min-width: $screen-lg) {
        max-height: 138px;
      }
    }
  }

  .user-name {
    margin-top: 5px;
    border-right: 1px solid $border-color;

    @media (min-width: $screen-md) {
      border-right: none;
      border-bottom: 1px solid $border-color;
      padding-bottom: 5px;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 10px;
      padding-left: 20px;
    }
  }
  
  .user-count {
    margin-top: 5px;

    @media (min-width: $screen-md) {
      margin-bottom: 5px;
    }
    
    @media (min-width: $screen-lg) {
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 20px;
    }

    > .row > div {
      padding-left: 5px;
      padding-right: 5px;
      &:last-of-type {
        padding-left: 0;
        padding-right: 15px;
      }
    }
  }

  .meta-total-series, .meta-following, .meta-followers {
    border-left: 1px solid $border-color;

    @media (min-width: $screen-md) {
      min-height: 53px;
    }
  }

  .social-icons {
    display: inline-block;

    &:before {
      content: '•';
      display: inline;
      margin: 0 5px;
    }
    
    @media (min-width: $screen-md) {
      position: absolute;
      top: 0;
      right: 15px;
      font-size: 18px;

      &:before {
        display: none;
        margin: 0;
      }
    }

    a {
      display: inline;
      color: $text-color;
      cursor: pointer;
      @media (min-width: $screen-md) {
        opacity: 0.5;
      }

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}