/* Grid display styles */
ul#inventory-table {
  @extend .row;
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
  margin-left: -10px;
  margin-right: -10px;
  
  > li {
    padding-left: 10px;
    padding-right: 10px;
  }

  h3 {
    margin: 0;
  }
  
  small {
    text-transform: uppercase;
    font-size: 10px;
  }

  .comic-image {
    overflow: hidden;
  }

  .series-count {
    font-size: 11px;
    font-weight: bold;
  }

  .series-publisher {
    display: none;
  }
  
  .story-name {
    display: none;
  }

  .issue-meta {
    display: inline-block;
    font-weight: bold;
    font-size: 11px;
    text-align: left;
    padding-top: 5px;
  }

  .series-extra {
    font-size: 10px;
    font-weight: bold;
  }
}

#inventory-table.layout-thumbLg,
#inventory-table.layout-thumbSm {
  .series-info {
    display: block;
    position: relative;

    &:hover {
      text-decoration: none;
    }
  }

  li {
    position: relative;
  }

  .comic-image {
    width: 100%;
    display: block;
  }

  .series-title {
    text-align: center;
    width: 100%;
  }

  .issue-number,
  .release-date {
    display: inline-block;
    font-size: 12px;
    width: 50%;
    font-weight: bold;
  }
}

#inventory-table.layout-thumbLg {
  h3 {
    font-size: 14px;
  }

  li {
    margin-bottom: 10px;

    &:nth-child(2n+3) {
      clear: both;
      @media (min-width: $screen-sm) {
        clear: none;
      }
      @media (min-width: $screen-md) {
        clear: none;
      }
    }
    &:nth-child(3n+4) {
      @media (min-width: $screen-sm) {
        clear: both;
      }
      @media (min-width: $screen-md) {
        clear: none;
      }
    }
    &:nth-child(4n+5) {
      @media (min-width: $screen-md) {
        clear: both;
      }
      @media (min-width: $screen-lg) {
        clear: none;
      }
    }
    &:nth-child(6n+7) {
      @media (min-width: $screen-lg) {
        clear: both;
      }
    }

    .series-info {
      transition: box-shadow 0.2s ease-in-out;
      box-shadow: 0px 0px 15px 1px transparent;
      color: white;

      &:hover, &:focus {
        text-decoration: none;
        box-shadow: 0px 0px 15px 1px gray;
      }
    }

    .issue-meta {
      width: 50%;
      vertical-align: top;
    }
  }

  .series-title {
    position: absolute;
    bottom: 0;
    background: black;
    opacity: 0.9;
    padding: 5px 10px;

    a {
      color: white;
    }
  }

  .volume-number {
    width: 45px;
    height: 48px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: 13px;

    span {
      display: block;
      color: white;
      text-align: center;
      transform: rotate(45deg);
      position: relative;
      left: -30px;
      top: 6px;
      width: 120px;
      background-color: $brand-red;
      padding: 2px 0;
      font-size: 10px;
      font-weight: bold;
    }
  }
  
  .release-date {
    text-align: right;
  }

  .series-extra {
    padding-top: 5px;
  }

  .series-count {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

// Small Thumbnail View
#inventory-table.layout-thumbSm {
  padding: 0 10px;
  
  h3 {
    font-size: 11px;
    font-family: $font-family-sans-serif;
    letter-spacing: 0;
  }

  li {
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;

    &:nth-child(4n+5) {
      clear: both;
      @media (min-width: $screen-sm) {
        clear: none;
      }
      @media (min-width: $screen-md) {
        clear: none;
      }
    }
    &:nth-child(4n+5) {
      @media (min-width: $screen-sm) {
        clear: both;
      }
      @media (min-width: $screen-md) {
        clear: none;
      }
    }
    &:nth-child(6n+7) {
      @media (min-width: $screen-md) {
        clear: both;
      }
      @media (min-width: $screen-lg) {
        clear: none;
      }
    }
    &:nth-child(12n+13) {
      @media (min-width: $screen-lg) {
        clear: both;
      }
    }
  }

  .series-title {
    margin-top: 5px;
  }

  .volume-number {
    margin-top: 2px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    text-align: center;

    &:before {
      content: "( ";
      display: inline;
    }

    &:after {
      content: ")";
      display: inline;
    }
  }

  .series-count {
    display: none;
  }
  
  .issue-number {
    width: 100%;
    text-align: center;
  }

  .release-date {
    display: none;
  }
}

/* List View */
#inventory-table.layout-list {
  /* Setting font sizes */
  .volume-number,
  .issue-number,
  .story-name,
  .release-date {
    font-size: 11px;

    @media (min-width: $screen-lg) {
      font-size: 13px;
    }
  }

  li:nth-child(even) {
    background-color: #FFE4E1;
  }
  
  .series-list-row {
    @include make_row();
  }

  .series-info {
    @include make-xs-column(7);

    @media (min-width: $screen-md) {
      @include make-md-column(8);
    }

    @media (min-width: $screen-lg) {
      @include make-md-column(6);
    }
  }

  .issue-info {
    @include make-xs-column(7);

    @media (min-width: $screen-lg) {
      @include make-md-column(8);
    }
  }
  
  .series-title,
  .volume-number,
  .series-extra,
  .story-name,
  .issue-number,
  .release-date {
    padding-top: 12px;

    @media (min-width: $screen-lg) {
      padding-top: 16px;
    }
  }

  .comic-image {
    @include make-xs-column(4);

    @media (min-width: $screen-md) {
      @include make-md-column(2);
    }
  }

  .series-title {
    @include make-xs-column(8);

    @media (min-width: $screen-md) {
      @include make-md-column(10);
    }
  }

  .story-name {
    display: block;
  }
  
  h3 {
    font-size: 12px;
    font-family: $font-family-sans-serif;
    letter-spacing: 0;

    @media (min-width: $screen-md) {
      font-size: 16px;
    }
  }

  .volume-number,
  .issue-number {
    text-align: center;
    @include make-xs-column(2);
  }

  .issue-number {
    @media (min-width: $screen-lg) {
      @include make-md-column(2);
    }
  }

  .series-extra {
    display: inline-block;
    text-align: right;
    @include make-xs-column(3);

    @media (min-width: $screen-md) {
      text-align: left;
      @include make-md-column(2);
    }    
    
    @media (min-width: $screen-lg) {
      @include make-lg-column(4);
    }
  }

  .series-publisher {
    font-size: 12px;
    text-align: center;

    @media(min-width: $screen-lg) {
      display: block;
      @include make-lg-column(7);
    }
  }

  .series-count {
    text-align: right;
    font-weight: normal;
    @include make-xs-column(12);

    @media(min-width: $screen-lg) {
      @include make-lg-column(5);
    }
  }

  .release-date {
    @include make-xs-column(3);

    @media(min-width: $screen-lg) {
      @include make-lg-column(2);
    }
  }
}

.release-date {
  text-align: right;
}