/* Single Issue */
.issue-story {
  margin-top: 15px;

  h4 {
    margin-top: 0
  }
}

.mobile-issue-image {
  .issue-image {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.issue-details {
  h2 {
    margin-top: 0;
  }

  .pull-right {
    margin-left: 10px;
  }
}

.issue-credits {
  line-height: 1.2;
  font-size: 12px;

  > .row {
    margin-bottom: 10px;
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 2px;
  }

  .credit-writer,
  .credit-artist,
  .credit-editor,
  .credit-cover {
    font-size: 14px;
  }
}

.issue-description {
  font-size: 14px;
  line-height: 1.4;
  margin-right: 20px;
}