/* Single Issue */
[data-module="single_comic"],
[data-module="edit_comic"],
[data-module="add_issue"] {
  .issue-content {
    padding-top: 15px;
    @media (min-width: $screen-md) {
      overflow: hidden;
    }
  }

  .issue-story {
    h4 {
      margin-top: 0
    }
  }
  
  .manage-comic-container + .issue-story {
    @media(min-width: $screen-md) {
      width: 75%;
    }

    @media(min-width: $screen-lg) {
      width: 82%;
    }
  }

  .issue-details {
    h2 {
      margin-top: 0;
    }

    .pull-right {
      margin-left: 10px;
    }
  }

  .issue-credits {
    line-height: 1.2;
    font-size: 12px;

    > .row {
      margin-bottom: 10px;
    }

    h3 {
      margin-top: 10px;
      margin-bottom: 2px;
    }

    .credit-writer,
    .credit-artist,
    .credit-editor,
    .credit-cover {
      font-size: 14px;
    }
  }

  .issue-description {
    font-size: 14px;
    line-height: 1.4;
    margin-right: 20px;
  }
}

[data-module="single_comic"] {
  .sidebar {
    background-color: $brand-orange;
    background-image: linear-gradient($brand-orange, white);
    margin-right: 0;

    h2 {
      font-size: 32px;
    }

    h3 {
      font-size: 14px;
    }
    
    .issue-image {
      margin-bottom: 15px;
    }

    *[class*="credit-"] {
      span {
        display: inline;
        margin-bottom: 3px;

        &:after {
          content: ", ";
          display: inline;
        }

        &:last-of-type {
          &:after {
            content: "";
            display: inline;
          }
        }
      }
    }
  }
}

.manage-comic-container {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 5px;
  background-color: $border-color;
  border: 1px solid $border-color;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0.95;

  @media(min-width: $screen-lg) {
    top: -15px;
    right: 15px;
    opacity: 0.65;
    transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &:hover {
    opacity: 0.95;
    top: -15px;

    @media(min-width: $screen-md) {
      top: 0;
    }
  }
}

.mobile-issue-image {
  .issue-image {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.disqus-block {
  padding-top: 10px;
  border-top: 1px solid $border-color;
  margin-top: 25px;
}