[data-module="login_modal"],
[data-module="logout_modal"] {
  .modal-header {
    border-bottom: none;
  }
}

[data-module="login_modal"] {
  .modal-header {
    padding: 15px 20px 0;
  }

  .modal-body {
    padding: 0 35px;
  }

  .modal-footer {
    padding-top: 0;
    border-top: none;
    text-align: center;
  }

  input[type="radio"] {
    &:checked + label:before {
      content: "";
      background-color: black;
      border-color: black;
    }
  }
}